<div class="app-main-views-wrapper">
    <div class="app-view-header-wrapper">
      <div class="status-bar-placeholder"></div>
      <div class="header-button-wrapper"><a routerLink="/phone-number" class="buttons logout w-inline-block"></a>
        <div class="logo-text">msg</div><a routerLink="" class="buttons back w-inline-block"></a></div>
      <div class="stack-wrapper">
        <div class="stack-1"></div>
        <div class="stack-2"></div>
      </div>
    </div>
    <div class="app-view-body">
      <div class="message-list-wrapper">
        <div class="section-wrapper">
          <div class="section-title">Privacy policy</div>
          <p class="terms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        </div>
        <div class="section-wrapper">
          <div class="section-title">Terms of service</div>
          <p class="terms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        </div>
      </div>
    </div>
  </div>