.fetch-field {
    height: 50px;
    min-height: 50px;
    margin-bottom: 0px;
    border-style: none;
    border-bottom-width: 1px;
    border-bottom-color: #000;
    background-color: transparent;
    font-size: 20px;
    font-weight: 300;
  }